<div class="container mt-2">
  <ng-template #failureOrLoading >
    <ng-container *ngIf="errMessage; else loading">
      <div  class="text-danger">
        {{errMessage}}
      </div>
    </ng-container>
    <ng-template #loading >
      <div class="text-center " id="loading">
        <div class="spinner-border text-primary" style="width: 6rem; height: 6rem;" role="status">
        </div></div>
    </ng-template>

  </ng-template>
  <ng-container *ngIf="article | async as listArticles; else failureOrLoading">
    <div class="card ">
      <div *ngIf="errMessage">
        {{errMessage}}
      </div>
      <div class="card-header bg-info"> Les articles :</div>
      <div class="card-body">
        <div *ngIf="searchArticleFormGroup">
          <form [formGroup]="searchArticleFormGroup" (ngSubmit)="handelSearchArticle()">
            <div class="input-group">
              <label class="input-group-text">Nom article:</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn btn-success">
                <div class="bi bi-search">Chercher</div>
              </button>
              <button routerLink="/new-article" class="btn btn-warning ms-5">
                <div> Nouveau Article</div>
              </button>
            </div>
          </form>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th >Code Article</th><th>Designiation</th> <th>Ingredient</th><th>Nature</th><th>Marque</th><th>Qualite</th><th>Supp</th><th>Mod</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let a of article |async ">
            <td>{{a.code_Article}}</td>
            <td>{{a.designiation}}</td>
            <td>{{a.ingredient.nom}}</td>
            <td>{{a.nature.nom}}</td>
            <td>{{a.marque.nom}}</td>
            <td>{{a.qualite.nom}}</td>
            <td >
              <button class="btn btn-danger" (click)="handledDeleteArticle(a)">
                <i class="bi bi-trash" ></i>
              </button>
            </td>
            <td >
              <button class="btn btn-primary" (click)="handelUpdateArticle(a)">
                <i class="bi-pen"></i>
              </button>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </ng-container>
</div>
