<div class="container">
  <div class="card col-md-8 offset-2 mt-4">
    <div class="card-header">Nouvelle opération</div>
    <div class="card-body">
      <form [formGroup]="newOperationEmbFormGroup" (ngSubmit)="isCustomLot! ? handleNlotPersonaliser() : handleNlotpardefeaut()" >
        <div class="mb-3">
          <label class="form-label">Numéro de Lot :</label>
          <button id="myButton" class="on" (click)="toggleButton()">N° Lot d'aujourd'hui</button>
          <input *ngIf="isCustomLot" type="text" formControlName="n_Lot" class="form-control" placeholder="La forme de N° Lot : ET000C" id="matriculation">
        </div>

        <div class="mb-3">
          <label class="form-label" >Matriculation :</label>
          <input type="text" formControlName="matriculation" class="form-control" >
        </div>

        <div class="mb-3">
          <label class="form-label">Code Article :</label>
          <input type="text" formControlName="code_Article" class="form-control">
        </div>


        <div class="mb-3">
          <label class="form-label">Quantité :</label>
          <input type="text" formControlName="quantite" class="form-control">
        </div>



        <div class="mb-3">
          <label class="form-label offset-1">Allé :</label>
          <label class="form-label offset-4">Rangée :</label>
          <label class="form-label offset-3">Niveau :</label>
          <div class="d-flex">
            <select formControlName="allee" class="form-select me-2" style="width: 33%;">
              <option  *ngFor="let allee of allees | async" [value]="allee">{{ (allee) }}</option>
            </select>
            <select formControlName="rangee" class="form-select me-2" style="width: 33%;">
              <option *ngFor="let rangee of rangees | async" [value]="rangee">{{ rangee}}</option>
            </select>
            <select formControlName="niveau" class="form-select" style="width: 33%;">
              <option *ngFor="let niveau of niveaux | async" [value]="niveau">{{niveau  }}</option>
            </select>
          </div>

        </div>



        <div class="d-grid col-md-6 offset-3">
          <button class="btn btn-info ">Enregistrer</button></div>
      </form>
      <div class="alert alert-danger" *ngIf="errorMessage">Ce block est déja utilisé !!!</div>

    </div>
  </div>
</div>
