.on {
  padding: 0.5em 1.5em;
  border-radius: 15px;
  margin-left: 5%;
  background-color: blue;
  color: white;
}

.off {
  padding: 0.5em 1.5em;
  border-radius: 15px;
  margin-left: 5%;
  margin-bottom: 15px;
  background-color: cornflowerblue;
  color: white;
}
