
<div class="body">
<div id="cards">
  <div class="container">
    <div class=" row row-cols-1 row-cols-md-3 ">
      <div class="card ms-5" style="width: 18rem; height: 19rem">
        <img src="./assets/baseTechnique-removebg-preview.png" height="230"  class="card-img-top" alt="base technique">
        <div class="card-body ">
          <div class="d-grid">
            <button class="btn btn-info ">
              <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                Base Technique
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/users">Gestion des utilisateurs</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item"routerLink="/famille">Gestion des familles</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Gestion des dépots</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Gestion des articles</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Gestion des fournisseurs</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Gestion des clients</a></li>
              </ul>
            </button>
          </div>
        </div>
      </div>
      <div class="card ms-5" style="width: 18rem; height: 19rem">
        <img src="./assets/produitFini.jpg" height="230"  class="card-img-top" alt="produit fini">
        <div class="card-body ">
          <div class="d-grid">
            <button class="btn btn-info ">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Stock Produit Fini
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Opération entrée</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Opération sortie</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Articles produit fini</a></li>
              </ul>
            </button>
          </div>
        </div>
      </div>
      <div class="card ms-5" style="width: 18rem; height: 19rem">
        <img src="./assets/stockEmballage.png" height="230"  class="card-img-top" alt="stock emballage">
        <div class="card-body">
          <div class="d-grid">
            <button class="btn btn-info ">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Stock Emballage
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Opération entrée</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Opération sortie</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Articles d'emballages</a></li>
              </ul>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</div>

