<div class="container">
  <div class="card col-md-8 offset-2 mt-4">
    <div class="card-header">Nouvelle opération</div>
    <div class="card-body">
      <form [formGroup]="newOperationPrdFiniFormGroup" (ngSubmit)="isCustomLot! ? handleNlotPersonaliser() : handleNlotpardefeaut()" >
        <div class="mb-3">
          <label class="form-label">Numéro de Lot :</label>
          <button id="myButton" class="on" (click)="toggleButton()">N° Lot d'aujourd'hui</button>
          <input *ngIf="isCustomLot" type="text" formControlName="n_Lot" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label" >Matriculation :</label>
          <input type="text" formControlName="matriculation" class="form-control" >
        </div>

        <div class="mb-3">
          <label class="form-label">Code Article :</label>
          <input type="text" formControlName="code_Article" class="form-control">
        </div>


        <div class="mb-3">
          <label class="form-label">Quantité :</label>
          <input type="text" formControlName="quantite" class="form-control">
        </div>



        <div class="mb-3">
          <label class="form-label">Allé :</label>
          <input type="text" formControlName="allee" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Rangée :</label>
          <input type="text" formControlName="rangee" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Niveau :</label>
          <input type="text" formControlName="niveau" class="form-control">
        </div>

        <div class="d-grid col-md-6 offset-3">
          <button class="btn btn-info ">Enregistrer</button></div>
      </form>
    </div>
  </div>
</div>
